body{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background-color: #CECECE;
    font-size: 13px;
    font-weight: 600;
}

#main{
    margin: 30px auto;
    min-width: 1000px;
    max-width: 1280px;
    background-color: white;
    border: 1px solid #7E7E7E;
}

<<<<<<< HEAD
header, section{
    position: relative;
    margin: 0px;
    padding: 0px 30px; 
    
}

section{
    padding-bottom: 10px;
    padding-top: 10px;
}

header{
    height: 110px;
    padding-bottom: 0px;
    padding-top: 0px;
}

section:after{
    content: "";
    display: table;
    clear: both;
}

#find{    
    position:absolute; 
    right:30px;
    top:10px;   
}

header ul, section ul{
    list-style: none;
    padding: 0px;
    margin: 0px;    
}
header li, section li{   
    float: left;
    margin-right: 2%;   
}

section li{  
    margin-top: 10px;
    margin-bottom: 10px;
}

 

.last_blok
{
    margin-right: 0px;    
}

section li:last_child{
    margin-right: 0px;
}

header li a, header li a:link{
=======
.section{
	padding-top: 10px;
	padding-bottom: 10px;
}
.block{    
    width: 95%;    
    position: relative;  
    left: 5%;
	
}



#top_img
{
	padding-top: 0px;
}

#bl1{ 
	padding-top: 0px;
    background-color: #DFDFDF; 		
}

#bl2{
    background-color: #1815F4; 	
}

#bl3{
    background-color: white;   		
}

#bl4{
    background-color: red;  		
}



#find{    
    position:absolute; 
    right:6%;
    top:15%;   
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
li{
    display: block;
    float: left;
    width: 80px;    
}

li a,li a:link{
>>>>>>> c440efc8554218912196589a1b0619fb82e00da4
    color: black;
    text-decoration: none;
}

<<<<<<< HEAD
header li a:hover{ 
    text-decoration: underline;
}

#line{ 
    border: 2px solid #C8C5C5; 
}

section img{ 
    width: 100%; 
}

#intro{
    top: 10px;
    left: 45px;  
    width: 200px;
    height: 120px;
    position: absolute;  
    padding: 5px;
}

#s1{ 
    background-color: #DBDBDB;
    padding-top: 0px;
}

#s2{ background-color: #476EFF;}

#s4{ background-color: #FF4768;}


#s1 ul li, #s3 ul li { width: 32%; }

#s2 ul li{ width: 49%; }

#s4 ul li { 
    width: 23.5%;    
}

h2,h3 { 
    margin: 0px ; }

section div{
    padding: 10px;
}

#s1 div{
    background-color: #919191;
    margin-top: 5px;    
}

#PhotoSection2{    
    background-image: url("moto4.jpg");
  
    background-size: 100%; 
    background-position: center;
    height: 320px;    
       
}

#TextSection2{
    background-color: white;
    height: 320px;    
}

#s4 div
{
    background-color: white;  
    margin-top: 5px; 
}

#s2 h2, #s4 h2{
    color: white;
}

#s4 a{
    display:block ;
    margin-top: 10px;
}

=======
li a:hover{
    text-decoration: underline;
}

.clear
{
    clear: both;
}

#line{    
    border: 2px solid #C8C5C5; 
}

#intro{
    top: 4%;
    left: 2%;  
    width: 20%;
    background-color: red; 
    position: absolute;    
}

.pic{
    width: 100%;	
}

#top_img img{
    width: 94%; 
}
  
 
.cont_img{          
	float: left;	
	margin-bottom: 5px;
	margin-top: 5px;
}

.cont_text{    	    
	float: left;	
	padding: 1%;
	margin-bottom: 5px;
	margin-top: 5px;
}

#bl1 .block  .cont_img{
	margin-right: 2%;		
	width: 30%; 	
}

#bl1 .block  .cont_text{
	margin-right: 2%;
    width: 28%; 
	background-color: #8B8787;   
}

#bl2 .block  .cont_img{
	float: right;
	margin-right: 6%;
    width: 45%;
	height: 360px;
	overflow:hidden ;
}

#bl2 .block  .cont_text{	
	margin-right: 2%;		
    width: 45%; 
	height: 330px;
	background-color: #8B8787;
	overflow:auto ;
}

#bl3 .block  .cont_img{
	margin-right: 2%;		
	width: 30%; 
}

#bl4 .block  .cont_img{
	margin-bottom: 0px;
	margin-right: 2%;		
	width: 22%; 	
}

#bl4 .block  .cont_text{
	margin-right: 2%;
	margin-top: 0px;
	width: 20%; 	
	background-color: white;
	overflow:hidden ;
}

h3{
	padding: 0px;
	margin: 0px;
}

#bl2 .block h3{
	color: white;
}

#bl3 .block .cont_img{
	font-size: 10px;
}


>>>>>>> c440efc8554218912196589a1b0619fb82e00da4
